[Unit]
Description=Enable Rockchip camera engine rkaiq
DefaultDependencies=no
Requires=rkaiqd.service

[Service]
Type=simple
ExecStart=/usr/bin/rkaiq_tool_server

[Install]
WantedBy=sysinit.target
